body {
  background-image: url("../img/eyes.jpg");
  background-repeat: no-repeat;
}

.slider {
  background-image: url("../img/slider.jpg");
  background-size: cover;
  height: 83px;
  width: 294px;
  z-index: 1;
  border: 1px solid sea green;
}
