<body id="first-page">
  <div class="landing-title">
    <h1>Classic Cocktail Companion</h1>
  </div>
  <div class="subtitle">
    <h2>Prohibition Ends<a href="/ingredients"> &nbsp;Here</a></h2>
  </div>
</body>
