<body>
  <div class="hero">
    <div class="landing-title">
      <h1>Speakeasy Cocktail Companion</h1>
    </div>
    <div class="subtitle">
      <h2>Prohibition Ends<a href="/ingredients"> &nbsp;Here</a></h2>
    </div>
  </div>

</body>
