<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">Classic Cocktails</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="/ingredients">Spirits</a></li>
    <li><a href="/recipes">Archive</a></li>
  </ul>
</div>
</nav>
<div class="header">
<img src="img/speakeasy-primary.jpg" alt="" />
</div>



<h2>Choose Your Liqour</h2>
<div class="test-input">
  <form action="/ingredients/recipes" method="post">
    <select class="browser-default" name="ingredient">
    <option value="" disabled selected>Pick Your Poison</option>
    <% if @ingredients %>
      <% @ingredients.each do | ingredient |  %>
        <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
      <% end %>
      <% end %>
      </select>
      <button class="btn" type="submit">Find recipes</button>
    <div class="shaker">
      <img class="shake" src="https://s-media-cache-ak0.pinimg.com/236x/ab/d9/ae/abd9ae5786abf0b353198c15a1e7416b.jpg" alt="" />
    </div>

</div>
