<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Classic Cocktails</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  </head>

    <%= yield %>

</html>
