<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">Classic Cocktails</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="/ingredients">Spirits</a></li>
    <li><a href="/recipes">Archive</a></li>
  </ul>
</div>
</nav>


<div class="header">
  <img src="/img/speakeasy-primary.jpg" alt="" />
</div>
<h1>Your Cocktail</h1>
<div class="drink-image">
  <img src="/img/cocktails.jpeg" alt="" />
  </div>
<div class="recipe">

<h3><%= @recipe.name %></h3>

<ul>
  <li>Liqour: <%= @ingredient.name %></li>
  <li>Glass: <%= @glass.name %></li>
</ul>

<div class="cocktail-instructions">
  <p>Instructions: <%= @recipe.instruction %></p>
</div>
