<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">Classic Cocktails</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="/ingredients">Spirits</a></li>
    <li><a href="/recipes">Archive</a></li>
  </ul>
</div>
</nav>
<div class="header">
  <img src="/img/speakeasy-primary.jpg" alt="" />
</div>
<h1>Cocktail Archive</h1>
<div class="drink-list">
<ul>
  <% @recipes.each() do |recipe| %>
  <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a></li>
  <% end %>
</ul>
</div>
